body{
background-image: url("/Imagenes/Azul.jpg");
background-size: cover;
background-repeat: no-repeat;


}


.regristro{
font-size: 40px;
margin-top: 400px;
margin-inline-start: 900px;
opacity: 1;
width: 550px;
height: 500px;
border-style: solid;
border-radius:70px 70px 70px 70px



}

.inicio{
text-align: center;

}


.gmail{
    padding: 15px;
    border-radius:70px 70px 70px 70px;
margin-left: 50px;
}

.contra{
padding: 15px;
margin-left: 15px;
border-radius:70px 70px 70px 70px
}

.iniciar{

    padding: 15px;
    border-radius:70px 70px 70px 70px
}

.log{
    margin-inline-start:230px;
margin-top: 50px;

}

.registrarse{
padding: 15px;
margin-top: 50px;
margin-inline-start:  220px;
border-radius:70px 70px 70px 70px
}

/* Crear pagina para regirtrarse*/

/* CENTRAR TITULO DEL REGISTRO*/
/*.centro{
    display: flex;
    align-content: center;
    justify-content: center;
}*/

.new{
text-align: center;
margin-top: 600px;
}



.registro{
    display: flex;
    align-content: center;
text-align: center;
    flex-direction: column;
    width: 500px;
 
    margin-left: auto;
    margin-right: auto;

}

.registro input{
    text-align: center;
    font-size: 30px;
}

.registro button{
    text-align: center;
    font-size: 30px;
}

.enlaceRegistrarse{
    text-decoration: none;
    color: #000;
    font-size: 15px;

    a{
        display: block;
    }
}


