.body{
    background-image: url("/Imagenes/flower-6206819_1280.jpg");
    
    background-size: cover ;
background-repeat: no-repeat;

    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
}


/* Centrar texto*/
.nombre{
text-align: center;

}


/*Imagen personal*/
.francisca{
    position: relative;
    left:60%


}






