.regristro{
font-size: 40px;
margin-top: 600px;
margin-inline-start: 900px;
}



.gmail{
    padding: 15px;

}

.contra{
padding: 15px;
margin-left: 15px;
}

.iniciar{

    padding: 15px;
}

.log{
    margin-inline-start:180px;
margin-top: 50px;
}

.registrarse{
padding: 15px;
margin-top: 50px;
margin-inline-start:  170px;

}