.RES{
background-image: url("/Imagenes/marble-7728244_1280.jpg");
background-size: cover;
background-repeat: no-repeat;


}




.new{
    text-align: center;
    margin-top: 400px;
font-size: 90px;



    }

    .cont{
text-align: center;
height: 150px;
display: flex;
flex-direction: column;
width: 500px;
margin-left: 880px;
font-size: 50px;
 }

.nombre{                /*formato al tamano de los textos*/
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 
#correo{
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#usuario{
font-size: 30px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

 #contrase{
font-size: 30px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 }


 #registrarse{
font-size: 30px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

 }


