.RES{
background-image: url("/Imagenes/marble-7728244_1280.jpg");
background-size: cover;
background-repeat: no-repeat;


}




.new{
    text-align: center;
    margin-top: 600px;

    }

    .cont{
text-align: center;
height: 150px;
display: flex;
flex-direction: column;
width: 400px;
margin-left: 911px;

 }


 

 